<!-- ===== Header Naviagation ===== -->
<mat-grid-list cols="1" rowHeight="250" class="content-nav">
	<mat-grid-tile colspan="1">
        <div class="tile-inner">
            <mat-list>
                <mat-list-item>
                    <h4 class="heading">view</h4>
                </mat-list-item>
                <mat-list-item>
                    <a mat-stroked-button color="primary" routerLink="view-cells" routerLinkActive="active">View My Battery Cells</a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-stroked-button color="primary" routerLink="requests" routerLinkActive="active">View My Pending Requests</a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-stroked-button color="primary" routerLink="view-cell-history" routerLinkActive="active">View Cell History</a>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<!-- ===== Header Naviagation ===== -->