<!-- ===== Header Naviagation ===== -->
<mat-grid-list cols="2" rowHeight="150" class="content-nav">
    <mat-grid-tile colspan="1">
        <div class="tile-inner">
            <mat-list>
                <mat-list-item>
                    <h4 class="heading">recall</h4>
                </mat-list-item>
                <mat-list-item>
                    <a mat-stroked-button color="primary" routerLink="recall" routerLinkActive="active">Issue Recall</a>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <div class="tile-inner">
            <mat-list>
                <mat-list-item>
                    <h4 class="heading">view</h4>
                </mat-list-item>
                <mat-list>
                    <mat-list-item>
                        <a mat-stroked-button color="primary" routerLink="view-cell-history" routerLinkActive="active">View Cells History</a>
                    </mat-list-item>
                </mat-list>
            </mat-list>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<!-- ===== Header Naviagation ===== -->