<!-- ====== For Single Cells ===== -->
<mat-card class="retrieveArray-form">
    <mat-card-header>
      <mat-card-title><h4>Retrieve Array</h4></mat-card-title>
      <!-- <mat-card-subtitle>Please fill in the form to trabsfer Cell</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <!-- Form -->
      <form #retrieveArrayForm="ngForm" (ngSubmit)="retrieveArray(retrieveArrayForm.form)">
        <!-- Input for Cell ID -->
        <mat-form-field class="full-width">
          <input matInput type="text" 
          name="arraySerialNumber" placeholder="Array Serial Number" 
          [(ngModel)]="arraySerialNumber"
          required
          >
        </mat-form-field>
        <!-- Submit Buttons -->
        <button mat-raised-button color="primary" type="submit" [disabled]="retrieveArrayForm.invalid || loader">Retrieve Array</button>
        <!-- Spinner will be shown while processing form data -->
        <i *ngIf="loader" class="fa fa-spinner fa-spin"></i>
      </form>
    </mat-card-content>
  </mat-card>
  <!-- /.card ends -->